.welcome-details{
	float:left;
	width:100%;
	height:auto;
	font-family:Arial,Helvetica,sans-serif;
	margin:10px 0 0 0;	
}
.welcome-details p{
	margin:0;
	float:left;
	width:100%;
}
.welcome-details p span{
	font-size:14px !important;
	color:#0000ff;
}
.wel-msg
{
    color:#990000 !important;
    width:100%;
    text-align:center;
}
.welcome-details p strong{
	color:#0000c0;
}
.container{
	float:left;
	width:100%;
	height:auto;
	margin:20px 0 0 0;
	padding:0;
	position:relative;
	display:block;
}
.side-gallery{
	float:left;
	width:170px;
	height:auto;
	text-align:center;
	padding:0;	
}
.side-gallery h2, .side-gallery h3{
	color:#7908ab;
	font-weight:normal;
	margin:0;
}
.tbl-container{
	float:none;
	width:632px;
	height:auto;
	margin:0 auto;
}
.tbl-container table{
	float:left;
	width:100%;
	border:1px solid #bfbfbf;
}
.headings{
	background:#990000;
	color:#fff;
	height:26px;
}
.subheadings{
	background:#dcdcdc;	
	height:26px;
	width:50%;
	line-height:24px;
}
.subheadings input[type=button], .subheadings input[type=submit]{
	background:#1e90ff;
	color:#fff;
	border:none;
	width:auto;
	height:auto;
	padding:4px 4px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	margin:0 10px 0 0;
}
.title-details{
	background:#f5f5f5;
}
.title-details table, .title-details td{
	border:none;
}
.data{
	height:79px;
}
.data table, .data td{
	border:none;
}
.footer{
	background:#dcdcdc;	
	height:26px;
}
.footer table{
	border:none;
}
.footer td{
	border:none;
}
.footer input[type=submit]{
	background:#1e90ff;
	color:#fff;
	border:none;
	width:auto;
	height:auto;
	padding:4px 4px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}
.footer input[type=checkbox]
{
    float:left;
    margin:3px 6px 0 0;
}
.footer label
{
    float:left;
    margin:2px 0 0 0;
} 
.p-trans{
	float:left;
	margin:5px 0 0 0;
}

.ScrollDiv
{
 overflow:auto;
 height:200px;
 width:100%;	
}

.hiddenData
{
 display:none;    
}

.RowStyle
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #000000;
    height:25px;
}

.AlternativeRow
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EAEAEA;
    color: #000000;
    height:25px;
}

.FooterRow
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #999999;
    color: #000000;
    height: 25px;
}

.extraButton
{
	background:#1e90ff;
	color:#fff;
	border:none;
	width:auto;
	height:auto;
	padding:4px 4px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	margin:0 10px 0 0;
}