.welcome-details{
	float:left;
	width:100%;
	height:auto;
	font-family:Arial,Helvetica,sans-serif;
	margin:10px 0 0 0;	
}
.welcome-details p{
	margin:0;
	float:left;
	width:100%;
}
.welcome-details p span{
	font-size:14px !important;
	color:#0000ff;
}
.wel-msg
{
    color:#990000 !important;
    width:100%;
    text-align:center;
}
.welcome-details p strong{
	color:#0000c0;
}

.container
{
	float:center;
	width:100%;
	height:auto;
	margin:0 0 0 0;

    padding-left: 120px;
    padding-right: 120px;
	position:relative;
	display:block;
}

.error
{
    width:632px;
    float:left;
    margin:0 0 10px 17%;
}
.tbl-container
{
    border: 1px solid #CCCCCC;
	float:left;
	width:632px;
	height:auto;
	margin:0 0 0 20%;
	
}
.tbl-container table{
	float:none;
	width:100%;
}
.headings{
	background:#990000;
	color:#fff;
	height:26px;
}
.c-pass
{
    background:#dcdcdc;
    float:left;
    width:100%;
}
.c-pass table
{
    width:auto;
}
.subheadings{
	background:#dcdcdc;	
	height:26px;
	width:50%;
	line-height:24px;
}
.subheadings input[type=button], .subheadings input[type=submit]{
	background:#1e90ff;
	color:#fff;
	border:none;
	width:auto;
	height:auto;
	padding:4px 4px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	float:right;
	margin:0 10px 0 0;
}

td
{
 border:none !important;    
}






.VeryWeekStrength {
	color: Red;
	margin: 5px;
	font-size: 12px;
}

.WeakStrength {
	color: orange;
	margin: 5px;
	font-size: 12px;
}

.AverageStrength {
	color: gray;
	margin: 5px;
	font-size: 12px;
}

.GoodStrength {
	color: blue;
	margin: 5px;
	font-size: 12px;
}

.ExcellentStrength {
	color: green;
	margin: 5px;
	font-size: 12px;
}

.BarBorderStyle {
	margin-top: 5px !important;
	width: 150px;
	padding: 2px;
	/*    height: 6px !important;*/
}

.error {
	color: #d73f3f;
	font-weight: bold;
	font-size: 11px;
}

.eyeOver {
	margin-left: -25px;
	position: relative;
}