.popup-overlay {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000000;
  top: 0px;
  left: 0px;
}



.popup-modal {
  background-color: white;
  border: 4px solid #20B7C9;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
  max-width: 1000px;
  height: 80vh;
  border-radius: 6px;
  overflow-y: auto;
  position: relative;
}


.table_formatting {
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  height: 100%;
  overflow-y: auto;
}

.table_formatting table {
  width: 100%;
  margin: 10px 0;
}

.table_formatting th,
td {
  padding: 5px;
}

.table_formatting thead tr th {
  text-align: center;
  font-weight: bold;
  background: #20B7C9 !important;
  color: #FFF;
}

.table_formatting tfoot tr td {
  text-align: right;
  font-weight: bold;
  background: #20B7C9;
  color: #FFF;
}

.table_formatting div {
  /* padding: 10px 0; */
  font-weight: bold;
  font-size: 16px;
  color: #515151;
  text-align: left;
}

.table_formatting tbody tr:nth-child(even) {
  background-color: #FFFFFF;
  color: #666 !important;
}

.table_formatting tbody tr:nth-child(odd) {
  background-color: #E0F4F6;
  color: #666 !important;
}

.table_formatting tbody tr td a {
  color: black;
  vertical-align: middle;
}

.popup-background {
  width: 100%;
  /* height: 25px; */
  background: #ffffff;
}

.table_formatting p {
  text-align: left;
}

/* 
.close-button {
  position: absolute;
  top: 15px;
  right: 150px;
  font-size: 24px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
} */

/* Default (Mobile First) */
/* Default (Extra Small Devices: <480px) */
.close {
  background: url("/images/closebox.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  width: 30px;
}

.paraWeekDate {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 9999;
  color: #515151;
}

/* Small Devices (480px - 767px) */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .close {
    right: 30px;
    top: 25px;
  }

  .paraWeekDate {
    top: 65px;
    left: 40px;
  }
}

/* Medium Devices - Tablets (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .close {
    top: 40px;
  }

  .paraWeekDate {
    top: 60px;
    left: 40px;
  }
}

/* Large Devices - Desktops (1024px - 1439px) */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .close {
    right: 140px;
    top: 35px;
  }

  .paraWeekDate {
    top: 55px;
    left: 170px;
  }
}

/* Extra Large Devices (1440px - 1863px) */
@media screen and (min-width: 1440px) and (max-width: 1863px) {
  .close {
    right: 220px;
    top: 36px;
  }

  .paraWeekDate {
    top: 55px;
    left: 250px;
  }
}

/* Ultra-Wide Screens (1864px and above) */
@media screen and (min-width: 1864px) {
  .close {
    right: 540px;
    top: 35px;
  }

  .paraWeekDate {
    top: 55px;
    left: 170px;
  }
}