.backgroundPopup2 {
    z-index: 1;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0px;
    left: 0px;
}

.toPopup2 {
    /* background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #20B7C9;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 5%;
    position: fixed;
    top: 5%;
    width: 88%;
    z-index: 2;
    padding: 1%;
    height: 520px; */
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #20B7C9;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 5%;
    position: fixed;
    top: 5%;
    width: 88%;
    z-index: 2;
    padding: 1%;
    height: 520px;
}

div.loader3 {
    background: url("/images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}

div.close2 {
    background: url("/images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -17px;
    top: -14px;
    width: 30px;
}

span.arrow2 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

div#popup_content2 {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}

@media only screen and (min-width: 481px) {
    .toPopup2 {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 4px solid #20B7C9;
        border-radius: 3px 3px 3px 3px;
        color: #333333;
        display: none;
        font-size: 14px;
        left: 5%;
        position: fixed;
        top: 5%;
        width: 88%;
        z-index: 2;
    }
}

@media only screen and (min-width: 769px) {
    .toPopup2 {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 4px solid #20B7C9;
        border-radius: 3px 3px 3px 3px;
        color: #333333;
        display: none;
        font-size: 14px;
        left: 5%;
        position: fixed;
        top: 5%;
        width: 88%;
        z-index: 2;
    }
}